<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.stdNotice.title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.stdNotice.greeting(${user.companyChName})}">greeting</p>
    <p th:text="#{email.stdNotice.text1(${user.cerfNo}, ${user.cerfVer})}">text1</p>
    <p th:text="#{email.stdNotice.text2(${user.stdNo}, ${user.stdVer})}">text2</p>
    <p>
      <span th:text="#{email.stdNotice.text3}">text3</span>
      <br />
      <em th:text="#{email.stdNotice.signature}">JHipster.</em>
    </p>
  </body>
</html>
